
.header {
  margin-top: 20px;
  position: relative;
}

.label {
  position: absolute;
}

.label h3 {
  margin: 0;
}

.clear button {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px white;
  margin-top: 5px;
}

.history {
  margin-top: 50px;
}

.history .previous-amount {
  display: flex;
  background-color: #e3e3e3;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.history .previous-amount .currency {
  width: 310px;
}

.history .previous-amount .currency .target-currency {
  font-size: x-large;
}

.history .previous-amount .close {
  align-self: center;
}
